/* ContactForm.css */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    padding: 2rem 0;
  }
  
  .contact-form h1 {
    color: #000000;
    font-family: 'karl', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    margin-top: 25px;
    margin-bottom: 75px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
  }
  

  
  .contact-form button[type="submit"] {
    margin-top: 70px;
    margin-left: 150px;
    background-color: #F4CE14;
    color: #000000;
    font-family: 'karl', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 16px;
    cursor: pointer;
    width: 331px;
    height: 67px;
  }
  
  
  .contact-form button[type="submit"]:hover {
    background-color: #F4CE14;
  }
  


  .contact-form .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
  }
  
  .contact-form .input-container label {
    font-family: 'karl', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 1rem;
    width: 150px;
    text-align: right;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="tel"],
  .contact-form input[type="email"] {
    flex: 1;
    height: 53px;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 1px solid #cccccc;
    border-radius: 16px;
    background-color: #F4CE14;
  }
  