.restaurant-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    padding: 2rem 0;
  }
  
  .restaurant-end h1 {
    color: #000000;
    font-family: 'karl', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    margin-top: 25px;
    margin-bottom: 75px;
  }
  
  .restaurant-end p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .restaurant-end button[type="button"] {
    background-color: #F4CE14;
    color: #000000;
    font-family: 'karl', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 16px;
    cursor: pointer;
    width: 331px;
    height: 67px;
  }
  
  .restaurant-end button[type="button"]:hover {
    background-color: #dcb50c;
  }
  
  .button-container {
    margin-top: 50px;
  }
  